#page {
  max-width: 1200px;
  width: calc(100% - 50px);
  padding: 0 25px;
  margin: 0 auto;
}

mat-form-field  {
  width: 100%;
  margin-top: 2px;
}

.full-grid {
  position: absolute;
  margin-left: 7%;
  width: 87%;
}

.img {
  height: auto;
  width: auto;
}

a {
  float: left;
  width: 100%;
}

.example-card {
  min-width: 330px;
  max-width: 330px;
}
